[user]
	email = amar47shah@gmail.com
	name = Amar Shah
[push]
	default = simple
[diff]
	tool = vimdiff
[alias]
	bav = branch -avv
	bavv = branch -avv
	chekcout = checkout
	d = diff
	di = diff
	dif = diff
	idff = diff
	idf = diff
	ds = diff --staged
	dis = diff --staged
	diffst = diff --staged
	ids = diff --staged
	shwo = show
	s = status
	satsu = status
	satsus = status
	sattsu = status
	sattu = status
	sattus = status
	sattut = status
	satus = status
	satuts = status
	stastu = status
	stastus = status
	stasu = status
	statsu = status
	statsus = status
	stats = status
	statu = status
	statua = status
	staus = status
	staut = status
	stauts = status
	stsatus = status
	sttaus = status
	sttus = status
	stuats = status
	tatsu = status
	sp = status --porcelain
	b = branch -avv
	ba = branch -avv
	shpw = show
	f = fetch
	sh = show
[core]
	excludesfile = ~/.config/git/ignore
	editor = /usr/local/bin/vim
